header {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
}

.size22px {
  font-size: 22px;
  padding-right: 10px;
  border-right: 1px solid #dbdbdb;
}

.containerLogo {
  display: flex;
  img {
    margin-left: 10px;
  }
}
